

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding:0;
}

::selection {
    background: #aaa; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #aaa; /* Gecko Browsers */
}

.map {
    height: 281px;
}

.topbar-dark {
    position:fixed;
    z-index:99;
    display:block;
    width:100%;
    height: 40px;
    background-color:#333;
    padding: 0;
    margin:0;
    overflow:hidden;
}

.contact-links {
    float:right;
    list-style:none;
    margin:0;
}

.contact-links > li {
    font-size:12px;
    margin: 0;
    padding: 12px 18px;
    border-left: solid 1px;
    border-color: #444;
    display:block;
    float:left;
    color:#aaa;
}

.contact-links > li:last-child {
    border-right: solid 1px;
    border-color: #444;
}

.contact-links > li > p {
    margin: 0;
}

.contact-links > li > p > a {
    text-decoration:none;
    color: #aaa;
}

.contact-links > li > p > a:hover {
    text-decoration:none;
    color: #ddd;
}

.contact-links > li > p > i {
    margin-right: 5px;
    top: 2px;
    margin-bottom: -2px;
}

.spacer {
    height:100%;
    width:20px;
    display:block;
    float:left;
}

.header-spacer {
    display:block;
    width:100%;
    height:52px;
}

.navbar {
    position:fixed;
    z-index:99;
    width:100%;
    background-color:#fff;
    border-radius:0;
    margin:0;
}

.header {
    display: block;
    width: 100%;
    height: 600px;
    background: no-repeat center center;
    color: #fff;
}


@media (max-width: 768px){
    .header-text {
        margin-left:0 !important;
    }
    .header-text > h1 {
        font-size:50px !important;
    }
    .header-text > h2 {
        font-size:32px !important;
    }
}
.header-text {
    margin-top:200px;
    margin-left:-15px;
    display:block;
    background-color: rgba(51,51,51,0.8);
}

.header-text > h1 {
    font-size: 75px;
}

.header-text > h2 {
    font-size: 40px;
}

.content {
    padding-top: 80px;
    padding-bottom: 80px;
    width:100%;
    display:block;
    height:auto;
}

.site {
    background-size: cover;
    padding: 0;
    margin: 0;
    height:350px;
}

.site-text {
    background:rgba(0,0,0,.75);
    text-align:center;
    padding:45px 0 66px 0;
    opacity:0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    display:block;
    color:#ccc;
    text-decoration:none;
    height:350px;
}

@media (max-width: 992px) {

    .site-spacer {
        display:none !important;
    }

}

.site-spacer {
    display:block;
    width:100%;
    height:350px;
}

.site:hover .site-text {
    opacity:1;
    text-decoration:none;
    color: #ccc;
    padding:40px;
}

.content-no-padding {
    padding:0;
    width:100%;
    display:block;
    height:auto;
}

.content-light {
    background-color: #fff;
}
.content-light::selection {
    background: #ddd; /* WebKit/Blink Browsers */
}
.content-light::-moz-selection {
    background: #ddd; /* Gecko Browsers */
}
.content-dark {
    background-color: #333;
    color: #fff;
}

.content-darker {
    background-color: #222;
    color: #fff;
    padding: 25px 20px 20px;
}
.content-darker > .container > p {
    margin: 0;
}

.footer {
    color: #ccc;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.class {
    color:#333;
    text-decoration:none;
    border-radius: 7px;
    border: 1px solid #ededed;
    overflow:hidden;
    display:block;
}

.class:hover {
    color:#333;
    text-decoration:none;
}

.class-heading-img {
    width:100%;
    height:120px;
    float: left;
    float: right;
}

.class-body {
    background-color: #fff;
    padding: 20px
}

.class-body > p {
    margin:0;

}